@model LoginUserVM

<center>
    <div class="bg-white p-2 rounded" style="--bs-bg-opacity: .75;">

        <form class="opacity-100" style="width: 50%; " asp-action="Login" asp-controller="Home">
            <table>
                <tr>
                    <td colspan="3"><div asp-validation-summary="All"></div></td>
                </tr>
                <tr>
                    <td><label asp-for="Email"></label></td>
                    <td><input asp-for="Email" /></td>
                    <td><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td><input asp-for="Password" /></td>
                    <td><span asp-validation-for="Password"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Persistent"></label></td>
                    <td><input asp-for="Persistent" /></td>
                    <td><span asp-validation-for="Persistent"></span></td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" value="Giriş Yap" /></td>
                </tr>
            </table>
            <small>Üye değil misiniz ?</small>
            <a asp-action="Register" asp-controller="Home" /> Üye Ol</a>
        </form>
        <span>@TempData["hataMesaji"]</span>
    </div>
</center>