@model CreateUserVM

<center>
    <div class="bg-white p-2 rounded" style="--bs-bg-opacity: .75;">
        <div asp-validation-summary="@ValidationSummary.ModelOnly"></div>
        <form class="opacity-100" style="width: 50%; " asp-action="Register" asp-controller="Home">
            <div class="form-group">
                <label for="patientName">Kullanıcı Adı</label>
                <input type="text" class="form-control" asp-for="PatientName" placeholder="Adınızı giriniz.">
                <span asp-validation-for="PatientName"></span>
            </div>
            <div class="form-group">
                <label for="patientSurname">Kullanıcı Adı</label>
                <input type="text" class="form-control" asp-for="PatientSurname" placeholder="Soyadınızı giriniz.">
                <span asp-validation-for="PatientSurname"></span>
            </div>
            <div class="form-group">
                <label for="username">Kullanıcı Adı</label>
                <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adınızı giriniz.">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label for="email">Kullanıcı Adı</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="E-mail adresinizi giriniz.">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label for="password">Parola</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Parolanızı giriniz.">
                <span asp-validation-for="Password"></span>
            </div>
            @* <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> *@
            <button type="submit" class="btn btn-primary">Kaydol Yap</button>
            <small>Üye misiniz ?</small>
            <a asp-action="Login" asp-controller="Home" /> Üye Ol</a>
        </form>
    </div>
</center>