@using B221210351.Areas.YonetimPaneli.Models.ViewModels
@model AppDatasForAdminVM

<h1>
    Users
    Policlinics
    Doctors
    Departments
    Appointments
    DOKTOR EKLE POLİKLİNİK EKLE ANABİLİM DALI EKLE OLACAK BUNLARIN
    SIRASI DOKTOR EKLEMEK İÇİN POLİKLİNİK LAZIM ONUN İÇİN DE ANABİLİM DALI LAZIM ŞEKLİNDE OLACAK.
</h1>
<ul>
    @foreach (var item in Model.Users)
    {
        <li>@item.UserName</li>
    }
</ul>

<ul>
    @foreach (var item in Model.Policlinics)
    {
        <li>@item.PoliclinicName</li>
    }
</ul>
<ul>
    @foreach (var item in Model.Doctors)
    {
        <li>@item.Name</li>
    }
</ul>
<ul>
    @foreach (var item in Model.Departments)
    {
        <li>@item.UserName</li>
    }
</ul>


