@model CreateRoleVM

<center>
    <div class="bg-white p-2 rounded" style="--bs-bg-opacity: .75;">

        <form class="opacity-100" style="width: 50%; " asp-action="addRole" asp-controller="Home" asp-area="yonetimPaneli">
            <div class="form-group">
                <label for="name">Ad: </label>
                <input type="text" class="form-control" asp-for="@Model.Name">
                <span asp-validation-for="@Model.Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Rol Ekle</button>
        </form>
        <span>@TempData["hataMesaji"]</span>
    </div>
</center>
<br>